.past-projects {
    margin: 2rem;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.past-projects .project1,
.past-projects .project2,
.past-projects .project3 {
    height: 450px;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
    border: 1px solid gray;
}

.past-projects .project1 {
    object-fit: cover;
    margin-left: 10px;
    background-size: cover;
    background-image: url("./project-images/Screenshot\ from\ 2023-04-15\ 19-05-52.png");
}

.past-projects .project3 {
    margin-right: 10px;
    background-size: contain;
    background-image: url("./project-images/project3.jpeg");
}

.past-projects .project2 {
    background-size: contain;
    background-image: url("./project-images/project2.jpeg");
}

.project-image {
    width: 100%;
}

.strap-div {
    background: lightgray;
    color: rgb(96,96,96);
    position: absolute;
    border-radius: 10px;
    bottom: 25px;
    right: 5px;
    left: 5px;
}

.project-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
}

.project-description{
    margin-left: 10px;
    margin-right: 10px;
}

.see-more{
    border: none;
    background-color: rgb(90, 90, 244);
    text-align: center;
    color: white;
    padding: 5px;
    width: 135px;
    margin-left: 25%;
    margin-right: 35%;
    margin-bottom: 5%;
    border-radius: 25px;
}

a{
    text-decoration: none;
}

.more-on-me{
    text-align: center;
    background-color: rgb(90, 90, 244);
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.more-on-me a{
    color: white;
    font-size: 15px;
}

.see-more:hover{
    cursor: pointer;
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .past-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .past-projects .project1,
    .past-projects .project2,
    .past-projects .project3 {
        margin: 5px;
    }
}

@media screen and (max-width: 650px) {
    .past-projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .past-projects .project1,
    .past-projects .project2,
    .past-projects .project3 {
        margin: 5px;
    }
}

